@media screen and (max-width: 1120px) {
   section.leaderboard {
    	margin: auto;
        position: relative;
        text-align: center;
        left: 0;
    }

    .wrapper{
    	position: relative;
    }
}