@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot');
  src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  outline: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  counter-reset: item;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #ee001d 0%, #e83452 100%);
  background: linear-gradient(to bottom right, #ee001d 0%, #e83452 100%);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 650px;
  margin-top: -300px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 650px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}

.clear{
  position: relative;
  width: 100%;
  height:50px;
}

section.leaderboard{ 
  border-radius: 17px;
  z-index: 2;
  position: absolute;
  left: 50px;
  top: 40px;
  background-color: #fff;
  border:1px solid #BB0C19;
  -moz-box-shadow: 5px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 5px 5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.leaderboard header{
  border-radius: 15px 15px 0 0;
  background-color: #BB0C19;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.leaderboard h1{
  padding: 5px;
  text-transform: uppercase;
  font-size: 24px;
}

.leaderboard h4 a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.leaderboard h4 a:hover{
  border-bottom: 1px solid #fff;
}

.leaderboard h2{
  background: rgba(187, 12, 25, 0.1);
  color: #BB0C19;
  padding: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.leaderboard ol{
  width: 100%;
  list-style: none;
}

.leaderboard li {
  text-align: left;
  width: 100%;
  height: 40px;
  counter-increment: item;
  margin-bottom: 20px;
  color: #272822;
 }

 .leaderboard li span{
  font-size: 12px;
 }

.leaderboard li:before {
  text-align: center;
  float: left;
  margin-left: -20px;
  margin-right: 10px;
  content: counter(item);
  background: #fff;
  border-radius: 100%;
  color: #BB0C19;
  width: 1.2em;
  display: inline-block;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #BB0C19;
 }

 .leaderboard li#one:before{
    background: #BB0C19;
    color: #fff;
 }

  .leaderboard li#two:before{
    background: #D10C19;
    color: #fff;
 }


 .leaderboard li#three:before{
    background: #E20C19;
    color: #fff;
 }

 select { 
  font-family: 'Source Sans Pro', sans-serif;
  border:0; 
  color:#272822; 
  background:transparent;
  font-size:15px; 
  padding:2px 10px; 
  width:100%; 
  -webkit-appearance: none;  
  text-transform: uppercase;
}

#mainselection { 
  overflow:hidden; 
  width:100%;
  background: url('../img/arrow.png') no-repeat scroll 200px 2px #fff; 
}

table{
  border:0;
  width: 600px;
  margin: auto;
  text-transform: uppercase;
}

table tr{
  height: 100px;
}



/* FORM STYLING MADE WITH LOVE :D */


form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #ee001d;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.btn-3 {
  background: #BD050D;
  color: #fff;
}

.btn-3:hover {
  background: #C5191C;
}

.btn-3:active {
  background: #BD050D;
  top: 2px;
}

.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.btn-3e {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}

.btn-3e:before {
  left: auto;
  right: 10px;
  z-index: 2;
}

.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255,255,255,0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
}

.btn-3e:hover:after {
  width: 40%;
}

.icon-arrow-right:before {
  content: "\e00d";
}

/* BACKGROUND ONEPLUS LOGO (BUBBELS) */

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/1-logo.png');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 70%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 80%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
  }
}

footer{
  z-index: 2;
  position: relative;
  top: 170px;
  height: 20px;
}

footer a{
  text-decoration: none;
  color: #F5F5F5;
  font-weight: bold;
}


footer a:hover{
  border-bottom: 1px solid #F5F5F5;
}